@font-face {
    font-family: 'coolvetica rg' ;
    src: url(fonts/coolvetica\ rg.otf);
}




body{
    background-color: #121212;
color: white;
}
a{
    color:#FFFFFF;
}
.zelena{
    color: #00ff5e;
}

h1  {
    font-family: 'coolvetica rg', sans-serif;
    font-size: 6em;
}

